* {
  margin: 0;
  padding: 0;
}

.form__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: aqua;
}
