@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    padding: 10px 1%;
}

body{
    background: #6c757d;
}

.comment_wrapper{
    margin: 1% 3%;
}

.card{
 margin-top: 1%;
}

.card_header{
    display: flex;
    justify-content: space-between;
}

.comment_input{
    margin-top: 1%;
}
footer {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    align-items: center;
}

.git_list {
    display: flex;
    margin: 0;
    list-style: none;
}

.git_list > li {
    margin: 0 11%;
}

.git_list > li > a {
    text-decoration: none;
    color: white;
}
.rs_logo {
    width: 50px;
    height: 20px;
    background-image: url("https://app.rs.school/static/images/logo-rs-school.svg");
    background-repeat: no-repeat;
    background-position: center;
}