@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    padding: 10px 1%;
}

body{
    background: #6c757d;
}

.comment_wrapper{
    margin: 1% 3%;
}

.card{
 margin-top: 1%;
}

.card_header{
    display: flex;
    justify-content: space-between;
}

.comment_input{
    margin-top: 1%;
}